{% extends "base.html" %} {% block content %}
<div
  style="
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#5bf0f0b3 5%, rgba(227, 230, 87, 0.923) 100%);
  "
>
  <div class="container">
    {% for submission in submissions %}
    <div class="row" style="margin-top: 2%">
      <div class="col-sm-9">
        <div class="card bg-dark" style="min-height: 100%; width: 50rem">
          <img
            class="card-img-top"
            src="{{ url_for('static', filename='submission_pics/' + submission.picture) }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-center">
              by {{ users[submission.by-1] }}
            </h5>
            <p class="card-text">{{ submission.ans }}</p>
            <br/>
            <p class="card-text">
            Bug_id of previous submission done are:
            {%for prev in prev_submission %}
            {%if prev.correct==2 and prev.by==submission.by %}
            {{prev.bug_id}}, 
            {%endif%}
            {%endfor%}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-dark">
          <div class="card-body">
            <form method="POST">
              {{form.csrf_token()}}
              <div class="form-group">
                {{ form.review.label(class='form-group') }} {{ form.review() }}
              </div>
              <div class="form-group">
                {{ form.points.label(class='form-group') }} {{ form.points() }}
              </div>
              <div class="form-group">
                {{ form.bug_id.label(class='form-group') }} {{ form.bug_id() }}
              </div>
              {{ form.submission_id(value=submission.id) }}
              <div class="form-group text-center">
                {{ form.submit(class="btn btn-danger") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
