{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2 class="text-center">Instructions</h2>
  <div style="margin-top:5%">
    <h3>How to play : </h3>
    <p>1. Register yourself and a teammate first by clicking Register at homepage.</p>
    <p>2. If you want to participate alone you can register yourself also. Kindly give same roll numbers for both the members.</p>
    <p>3. Login at homepage and use your team name(case sensitive) and password given at the time of registration.</p>
    <p>4. Click on Rules and read them carefully.</p>
    <p>5. Click on lets go button to go to website in which you have find bugs and vulnerabilities.</p>
    <p>6. Take a screenshot of the bugs and vulnerabilities that you find and submit them in submit portal. For submissions related queries please read explanation given below.</p>
    <p>7. If your submission is accepted then you will be given points accordingly for which you will be notified.</p>
    <p>Tip: Keep and eye out for announcements and notifications.</p>
  </div>
  <div class="" style="margin-top:5%">
    <h3>What bugs and vulnerabilities you can expect : </h3>
    <p>1. There are many bugs such as Invalid link.</p>
  </div>
  <div class="" style="margin-top:5%">
    <h3>Submissions : </h3>
    <p>1. In the main page you can submit your answers by clicking on 'Submit answer' button in the navigation bar.</p>
    <p>2. You have to submit screenshot of the bug/vulnerability along with the explanation why it is a bug/vulnerability.</p>
    <p>3. Try to keep your explanation simple.</p>
    <p>5. If the admin finds the explanation satisfactory then given points according to bugs/vulnerability that you have found. Otherwise you will get a rejected submission notification.</p>
    <p>6. You can expect the review of your submission within few hour of your submission. But for the submission given between 5PM to 12PM, the review will be done after 11AM only.</p>
  </div>

</div>
{% endblock %}
