{% extends "base.html" %} {% block content %}
<div  style="background: radial-gradient(#edfda3d0 30%, #f0aa12e9 100%);
    width: 100%;
    min-height: 100vh;">
<section class="leaderboard">
  <!--for demo wrap-->
  <div class="leadertable">
    <h1 style="color:black;">LeaderBoard</h1>
    <div class="leaderbox">
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th  class="ColumnStyle">S.No</th>
              <th  class="ColumnStyle">Team Name</th>
              <th  class="ColumnStyle">Member1</th>
              <th  class="ColumnStyle">Member2</th>
              <th  class="ColumnStyle">Score</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            {% set rank=namespace(value=1) %} {% for user in users %}
            <tr>
              <td class="RowStyle">{{rank.value}}</td>
              <td class="RowStyle">{{user.username}}</td>
              <td class="RowStyle">{{user.roll}}</td>
              {%if user.roll==user.roll2%}
              <td class="RowStyle">-</td>
              {%else %}
              <td class="RowStyle">{{user.roll2}}</td>
              {%endif %}
              <td class="RowStyle">{{user.score}}</td>
            </tr>
            {% set rank.value=rank.value+1 %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}
