{% extends "base.html" %}
{% block content %}
<div  style="background: radial-gradient(#edfda3d0 30%, #f0aa12e9 100%);
    width: 100%;
    min-height: 100vh;">
<div class="container">
  <div class="text-center">
    <h1>Register</h1>
  </div>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-group") }}
      {{form.username(class='form-control')  }}<br>
    {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
    {% endfor %}
    </div>

    <div class="form-group">
      {{ form.roll.label(class="form-group") }}
      {{form.roll(class='form-control')  }}<br>
    {% for error in form.roll.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
    {% endfor %}
    </div>
    
    <div class="form-group">
      {{ form.roll2.label(class="form-group") }}
      {{form.roll2(class='form-control')  }}<br>
    {% for error in form.roll2.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
    {% endfor %}
    </div>

    <div class="form-group">
      {{ form.password.label(class="form-group") }}
      {{form.password(class='form-control')  }}<br>
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
    {% endfor %}
    </div>
    <div class="form-group">
      {{ form.pass_confirm.label(class="form-group") }}
      {{form.pass_confirm(class='form-control')  }}<br>
    </div>
    <div class="form-group text-center">
        {{ form.submit(class="btn btn-danger") }}
    </div>
  </form>
</div>

</div>

{% endblock %}
