html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 10px;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 0px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: black;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.header {
  width: 100%;
  display: flex;
  position: sticky;
  background: #000;
  z-index: 120;
  top: 0;
}

.col-bug {
  /* flex-grow: 43%; */
  width: 10%;
  flex-grow: 1;
  /* background-image: url("https://th.bing.com/th/id/OIP.T4uiFnic5VRPDkCZ1-zbPgHaDi?w=334&h=167&c=7&r=0&o=5&pid=1.7"); */
  background-color: #fff;
  background-size: cover;
  background-position: center;
  height: 69px;
  /* padding: 10px; */
  color: #fff;
}

.col-nav {
  /* flex-grow: 57%; */
  width: 90%;
  height: 69px;
  flex-grow: 1;
  background-color: rgb(0, 0, 0);
}

.BugNav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #000000;
  height: 69px;
  position: sticky;
  top: 0px;
}

.logo {
  width: 60px;
  cursor: pointer;
  position: sticky;
  top: 5px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.logout h5  {
  width: 225px;
  margin-top: 10px;
  color: rgb(255, 75, 75);
}


.logout a {
  margin-top: 10px;
  margin-right: 15px;
}



.col-nav ul {
  position: sticky;
  top: 0px;
  height: 69px;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
  z-index: 100;
  margin-bottom: 100px;
}

.col-nav ul li a {
  display: flex;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  width: 80%;
  height: 50px;
  margin-top: 12%;
  transition: 1s;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

.col-nav ul li .anchorhover:hover {

  color: #000000;
  background-color: #ffee10;
}




.col-nav ul li {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgstyle {
  width: 100%;
}


.right-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
}

.left-text {
  width: 80%;
  margin: 180px auto 0;
}
.bodystyle {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: rgb(0, 0, 0);
  /* background-image: url("/submiss/static/bugbounty.png"); */
}

.leftbody {
  width: 30%;
  display: flex;
  z-index: 20;
  position: relative;
  flex-direction: column;
  justify-items: center;

}

.leftbody img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
  /* height:100%; */
}

.rightbody {
  width: 70%;
  position: relative;
  /* background: rgb(37, 136, 86); */

}


.right-text .BugBountyStyle {
  box-shadow: 0 5px 15px #e9f5ad;
  text-shadow: 0 5px 8px #dcdcdc;
  color: rgb(247, 151, 25);
  font-size: 5rem;
  font-weight: 900;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 478px;
  height: 16vh;
  transition: 0.8s;
}

.right-text .BugBountyStyle::before {
  content: "";

  position: absolute;
  left: 110%;
  width: 120%;
  height: 100%;

  background: #000;
  animation: animate1 12.5s linear forwards infinite;
}
@keyframes animate1 {
  100% {
    left: 110%;
  }

  0% {
    left: -155%;
    color: rgb(49, 77, 111);
  }
}

.BugBountyStyle:hover {
  color: #f6ee83;
}

.Learnmore {
  margin-top: 25%;
  width: 100%;
  color: rgb(4, 4, 4);
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn1 {
  width: 45%;
  color: #000;
  height: 50px;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  box-shadow: 3px 3px 5px #ffffff;
  background: linear-gradient(#ffee10 5%,

      rgba(250, 141, 52, 0.923) 100%);
  transition: 1.5s;
}

#btn1:hover {
  box-shadow: 1px 1px 2px #ffffff;
}

#hidebox {
  background: rgb(204, 204, 204);
  color: #fff;
  height: 100%;
}

#HideText h5 {
  font-size: large;
  font-weight: 700;
  margin-top: 10%;
  color: #fff;
}



.leaderboard h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.leaderboard {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  color: #fff;
  background: radial-gradient(#edfda3d0 30%,
  #f0aa12e9 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.leadertable{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.leaderboard table {
  width: 100%;
  table-layout: fixed;
}

.tbl-header {
  background-color: rgba(180, 124, 4, 0.936);
  background: radial-gradient(#869932d0 30%,
      #f2af1da2 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient( rgba(146, 131, 154, 0.799) 5%, rgba(135, 312, 109, 1.799) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.ColumnStyle {
  padding: 20px 15px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;

}

.RowStyle {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


.subcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#edfda3d0 30%,
  #f0aa12e9 100%);
}

.subform {
  width: 50%;
  height: 65%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 3px 10px rgb(46, 45, 45);
  border-radius: 5px;
}